/* HTML, body styles */
html, body {
    background-color: #DBDBDB;
}

/* body styles */
body {
    margin: 0% 5%;
}
/* Navbar styles */
.navbar {
    display: flex;
    

}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    
  
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

/* Cover article styles */
.cover-article img {
    width: 100%;
}

/* Recent articles label styles */
.recent-articles-label {
    display: flex;
    height: 50px;
    width: 50%;
    border: 1px solid black;
    margin: 25px auto;
}


