/* HTML, body styles */
html, body {
    background-color: #DBDBDB;
}

/* body styles */
body {
    margin: 0% 5%;
}
/* Navbar styles */
.navbar {
    display: flex;
    

}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    
  
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

/* Cover article styles */
.cover-article img {
    width: 100%;
}

/* Recent articles label styles */
.recent-articles-label {
    display: flex;
    height: 50px;
    width: 50%;
    border: 1px solid black;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
}

/* Main content grid styles */
.main-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px 250px 400px 400px;
  
}

/* Grid item styles */
.item-1 {
    background-color: rgba(255, 255, 255, 0.45);
    grid-column: 1 / 3;
}

.item-2 {
    background-color: rgba(255, 255, 255, 0.45);
}

.item-3 {
    background-color: rgba(255, 255, 255, 0.45);
    grid-column: 1 / 2;
}

.item-4 {
    background-color: rgba(255, 255, 255, 0.45);
    grid-column: 2 / 4;
}

.item-small {
    background-color: rgba(255, 255, 255, 0.45);
    
}


